.orb-container {
  /* 1. Change to absolute or fixed */
  position: fixed; 
  
  /* 2. Place top-left corner in the middle of screen */
  top: 50%;
  left: 50%;
  
  /* 3. Shift it back by half its own width/height */
  transform: translate(-50%, -50%);
  
  /* 4. Keep your existing properties */
  z-index: -5;
  width: 100%;
  height: 100%;
}